<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white-shadow" style="background-color: rgb(242, 251, 241); border-radius: 10px;" id="header">
    <div class="container-fluid container-xl">

        <a routerLink="/users" class="navbar-brand logo d-flex align-items-center me-auto">
            <h1 class="sitename " style="color: rgb(17, 90, 11);">MENTOR</h1>
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbarCollapse"
                aria-controls="mainNavbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbarCollapse">

            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 nav-links-center">
                <li class="nav-item">
                    <a class="nav-link nav-link-dark" routerLink="/users/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-dark" routerLink="/users/about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-dark" routerLink="/users/courses" routerLinkActive="active">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-dark" routerLink="/users/trainers" routerLinkActive="active">Trainers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-dark" routerLink="/users/events" routerLinkActive="active">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-dark" routerLink="/users/pricing" routerLinkActive="active">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-dark" routerLink="/users/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a routerLink="/admin" routerLinkActive="active" class="btn btn-success btn-admin-style">Admin Panel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
